
a.header{
	color: #FFFFFF;
	text-decoration: none;
	
}

a.visited{
	text-decoration: none;
}

div.header_top {
	background-color: #008ae6;
	margin: 10px 10px 0px 10px;
	height: 130px;
}

div.ricerca{
	width:100%;
   	position: absolute;
    text-align:left;
    top:9%;
    left: 5%;
}


div.logo{
   	width:100%;
   	position: absolute;
    text-align:center;
}

img.logo{
	padding: 1%;
	 max-height: 100px;
	max-width: 200px;
	height:auto;
	width:auto;
}
div.logout{
	margin: 0;
    position: absolute;
    top: 9%;
    left: 85%;
    
}

div.login{
	margin: 0;
    position: absolute;
    top: 9%;
    left: 92.5%;
    
}

div.header_list {
	background-color: #0099ff;
	margin: 0px 10px 0px 10px;
	
}

div.header_list ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
	text-align: center;
}

div.header_list ul li {
	display: inline;
	padding: 50px 100px 50px 100px;
	
}


