div.container{
	display:block;
	
	width: 60%;
	Height:30%;
	position: relative;
	margin-top:5%;
	margin-left:20%;
	margin-right:20%;
	
	border: 2px solid;
	border-color: #008ae6;
	background-color: #80ccff;
}

div.reg-log{
	vertical-align: middle;
	position: relative;
	margin-left:25%;
	width:50%
	
	
}

div .choice{
	
	position: relative;
	margin-left: 35%;
	margin-bottom:0.5%;
}

.

form#login{
	position: relative;
	margin-left:1%;
	margin-bottom:1%;
}
form input.desc{
	height:60px;
	width:100%;
	margin-bottom:1%;
}
form input.btn{
	height:60px;
	width:150px;
	background-color: #008ae6;
	margin-left: 5%;
	margin-top:1%;
}
form input.btnbello{
	height:60px;
	width:200px;
	background-color: #008ae6;
	margin-left: 20%;
	margin-top:1%;
}

div .choice button{
	background-color: #008ae6;
	height:60px;
	width:100px;
	
}

@media screen and (max-width: 1000px){
	form input.desc{
	height:70px;
	width:100%;
	margin-bottom:1%;
}
}



