#Contenitore-menu{
	border: thin;
	border-color: #008ae6;
	border-style: solid;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}
}

input#file {
	background-color: #d1d5d8;
	margin-right: 2px;
	border: inset;
}

#bottoneanagrafica {
	margin-top: 10px;
	margin-right: 2px;
}

.frame{
	border-style: solid;
	border: thin;
	border-color: black;
}
