#Contenitore-menu{
	border: thin;
	border-color: black;
	border-style: solid;
	background-color: #b3b3ff;
	width: 50%;
	margin-left: 10%;
}
body {
	background-color: #d9d9d9;
}

input {
	background-color: #e6e6ff;
}

#but-ana {
	margin-top: 10px;
	margin-left: 79%
}

.frame{
	border-style: solid;
	border: thin;
	border-color: black;
}

#Ordini{
}